
<div class="container goudy text-boxer">
  <%= form_for(@corpse, :html => {:class => "form-horizontal"}) do |f| %>

    <% if @corpse.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@corpse.errors.count, "error") %> stopped this Payam from going forward:</h2>
        <ul>
         <% @corpse.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
        </ul>
       </div>
    <% end %>

    <% if @corpse.counter == 1 %>
      <div class="container" style="border-bottom: 1px dotted; border-color: #dab4e4; padding-bottom: 20px">
        <div class="col-sm-6">
          <p><span class="biginner">P</span>ick a style from a list...</p>
          <div class="form-group col-sm-12">
            <%= f.collection_select(:style_id, Style.all, :id, :name, {:include_blank => "Select a Style"}, :class => "form-control") %>
          </div><!--form-group-->
        </div><!--col-sm-6-->
        <div class="col-sm-6">
          <p><span class="biginner">O</span>r make up a new style.</p>
          <div class="form-group col-sm-12">
            <%= f.fields_for :style, @style do |style_name| %>
              <%= style_name.text_field :name, :placeholder => "Create a new one", :class => "form-control"%>
            <% end %>
          </div><!--form-group-->
        </div><!--col-sm-6-->
      </div><!--container-->
      <div class="container">
        <div class="col-sm-12">
          <p><span class="biginner">P</span>rovide a one-word title to guide the later authors</p>
          <div class="form-group col-sm-6">
            <%= f.text_field :title, :placeholder => "one-word title", class: "form-control" %><br>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container">
        <p>The style of this Payam is <span style="color: #45c467"><%= @corpse.style.name%></span>, and the title is <span style="color: #45c467">"<%=@corpse.title%>"</span>.
      </div>
    <%end%>

    <div class="container" style="border-top: 1px dotted; border-color: #dab4e4; padding-top: 20px">
      <% if @corpse.counter == 1 %>
        <p><span class="biginner">W</span>rite the first line.
      <% else %>
        <p><span class="biginner">S</span>o far, the Payam has <%= @corpse.counter - 1 %>
          <% if @corpse.counter == 2 %>
            author,
          <% else %>
            authors,
          <% end %>
        and you are number <%= @corpse.counter %>.</p>
        <p>The previous author's last five words were:<em><blockquote id="base-purp" style="font-size: 20px">...<%= @corpse.previous_five%></blockquote></em></p>
        <p>Write the next line.
      <% end %>

      <% if @corpse.counter == 8 %>
        This is the last line, so make it count.<p><br>
      <% else %>
        Make it between 10-20 words. The next writer will only see the last 5 words you write.</p><br>
      <% end %>

      <div class="container">
        <div class="form-group">
          <%= f.fields_for :lines, @line do |line| %>

              <% if @corpse.counter < 8 %>
                <%= line.text_field :text, class: "form-control", placeholder: "Think about your last 5 words as they will be what the next author sees..." %><br>
              <% else %>
                <%= line.text_field :text, class: "form-control", placeholder: "These are the last words of the Payam..." %><br>
              <% end %>
                <!-- where the hidden fields were -->
            <% end %>

        </div><!--form-group-->
      </div><!--container-->
    </div><!--container with border-bottom-->
    <%= f.hidden_field :current_scribe, :value => current_user.id %>
    <div class="container">
      <div class="form-group">
        <div class="col-sm-1">
          <%= f.submit "Submit", class: "btn btn-default" %>
        </div>
      </div> <!-- form-group-->
    </div><!--container-->
  <% end %><!--end of form_for-->
</div>
