<%# NEW PAYAM FORM %>

<section class="PageContent">
  <div class="flex-container-column">
    <%= form_for(@payam, :html => {:class => "form-horizontal"}) do |f| %>

      <%# PAYAM ERROR MESSAGES %>
      <% if @payam.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@payam.errors.count, "error") %> stopped this Payam from going forward:</h2>
          <ul>
            <% @payam.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div><!--error explanation-->
      <% end %>

      <div class="flex-container-column base-plaque-new-payam">
        <!--TITLE TITLE TITLE-->
        <div class="flex-container-column inlay-holder">
          <div class="flex-container plaque">
            <div class="container plaque-letters">
              ONE WORD TO RULE THEM ALL
            </div><!--plaque-letters-->
          </div><!--plaque-->
          <div class="flex-container overlay">
            <div class="container payam-title">
              TITLE
            </div><!--container-->
          </div><!--overlay-->
        </div><!--inlay-holder-->

        <% if @payam.counter != 1 %>
          <div class="flex-container payam-form-heading">
            <div class="container payam-title">
              ~ <%=@payam.title%> ~
            </div><!--payam-title-->
          <% else %>
            <div class="container">
              <div class="payam-form-text">~ Provide a one-word title to guide the later authors ~
              </div><!--payam-form-text-->
              <div class="container" style="width: 40%">
                <div class="form-group">
                  <%# in form group above col-sm-push-3 col-sm-6 %> 
                  <%= f.text_field :title, :placeholder => "One-word Title", class: "form-control input-box", style: "text-align: center" %><br>
                </div><!--form-group-->
              </div><!--payam-margins-10-->
            <% end %>
            </div><!--flex-container-column-->

            <!--STYLE STYLE STYLE-->
            <div class="flex-container-column inlay-holder">
              <div class="flex-container plaque">
                <div class="container plaque-letters">
                  FREAKY STYLEY AND YOU ARE PROUD
                </div><!--plaque-letters-->
              </div><!--plaque-->
              <div class="flex-container overlay">
                <div class="container payam-title">
                  STYLE
                </div><!--container payam-title-->
              </div><!--overlay-->
            </div><!--inlay-holder-->

            <% if @payam.counter != 1 %>
              <div class="flex-container-column base-plaque-new-payam">
                <div class="flex-container payam-form-heading">
                  <div class="container payam-title">
                    ~ <%= @payam.style.name %> ~
                  </div><!--payam-title-->
                </div><!--flex-container-->
              </div><!--flex-container-column-->
            <% else %>
              <div class="flex-container base-plaque-new-payam" style="justify-content: center">
                <div class="container" style="width: 40%">
                  <div class="payam-form-text">~ Pick a style from a list ~</div>
                  <div class="form-group ">
                <%= f.collection_select(:style_id, Style.all, :id, :name, {:include_blank => "Select a Style"}, :class => "form-control input-box-dropdown") %>
                  </div><!--form-group-->
                </div><!--payam-margins-10-->
                <div class="container" style="width: 40%">
                  <div class="payam-form-text">~ Or make up a new style ~</div>
                  <div class="form-group ">

                    <%# col-sm-12 in form group above %>
                    <%= f.fields_for :style, @style do |style_name| %>
                      <%= style_name.text_field :name, :placeholder => "New Style", :class => "form-control input-box", style: "text-align: center" %>
                    <% end %>
                  </div><!--form-group-->
                </div><!--payam-margins-10-->
              </div><!--flex-container-column-->
            <% end %><!--payam counter conditional-->

            <!--LINES LINES LINES-->
            <div class="flex-container-column inlay-holder">
              <div class="flex-container plaque">
                <div class="container plaque-letters">
                  IF ALL ARE LINES THEN WHENCE CIRCLES?
                </div><!--plaque-letters-->
              </div><!--plaque-->
              <div class="flex-container-column overlay">
                <div class="container">
                  <div class="payam-title">WRITE A LINE</div>
                </div><!--container-->
              </div><!--overlay-->
            </div><!--inlay-holder-->

            <div class="flex-container-column base-plaque-new-payam">
              <div class="container"> 
                <% if @payam.counter == 1 %>
                  <div class="payam-form-text">~ Write the first line ~</div>
                <% else %>
                  <div id="incomplete-payam-text">
                    You are author No.<%= @payam.counter %><br>
                    The last five words of previous line:<br>
                    <div class="container" style="width: auto; align-items: center">
                      <div class="em base-purp" id="last-lines">...<%= @payam.previous_five%></div>
                    </div><!--container-->
                  </div><!--incomplete-payam-text-->
                <% end %>
              </div><!--container-->
              <div class="container" style="width: 90%">
                <div class="form-group">
                  <%= f.fields_for :lines, @line do |line| %>

                    <% if @payam.counter < 8 %>
                      <%= line.text_field :text, class: "form-control input-box", placeholder: "Think about your last 5 words as they will be what the next author sees..." %><br>
                    <% else %>
                      <%= line.text_field :text, class: "form-control input-box", placeholder: "Write the last words of the Payam..." %><br>
                    <% end %>
                    <!-- where the hidden fields were -->
                  <% end %>
                </div><!--form-group-->
              </div><!--container-->
            </div><!--flex-container base-plaque-new-payam-->
            <%= f.hidden_field :current_scribe, :value => current_user.id %>
            <div class="flex-container-column">
              <div class="form-group">
                <p><%= f.submit "Submit", class: "btn btn-default" %></p>
              </div> <!-- form-group-->
            </div><!--container-->
          <% end %><!--end of form_for-->
          </div><!--flex-container-column-->

</section>
<%= render partial: "/layouts/home_link"%>


