<!DOCTYPE html>
<html class= "full" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="doulgas">
    <title>PayamWithJS</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container-fluid site-wrapper">
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="jumbotron">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div><!--jumbotron-->
      </div><!--container-->
    </div><!--container-fluid site-wrapper-->
    <%= render 'layouts/footer' %>
  </body>
</html>
